<br><br>
<br>
<button id="btntop" mat-raised-button color="primary" (click)="irCrearProveedor()">Nuevo Proveedor</button>

<div class="table-container">
    <table mat-table [dataSource]="proveedores" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="codproveedor">
        <th mat-header-cell *matHeaderCellDef> Id Proveedor </th>
        <td mat-cell *matCellDef="let element"> {{element.codproveedor}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="razonsocial">
        <th mat-header-cell *matHeaderCellDef> Razon Social </th>
        <td mat-cell *matCellDef="let element"> {{element.razonsocial}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="rucproveedor">
        <th mat-header-cell *matHeaderCellDef> Ruc </th>
        <td mat-cell *matCellDef="let element"> {{element.rucproveedor}} </td>
      </ng-container>
  
      <ng-container matColumnDef="telefonoproveedor">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefonoproveedor}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="codtipoprovee">
        <th mat-header-cell *matHeaderCellDef> Codigo Distrito </th>
        <td mat-cell *matCellDef="let element"> {{element.codtipoprovee}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="irDetalleProveedor(row.codproveedor)"></tr>
    </table>
  </div>