<div class="container">
    <mat-card id="mat1" appearance="outlined">
        <mat-toolbar id="nav1">
            <span>Login</span>
          </mat-toolbar>
    <br>
    <br>
    <mat-card-content>
        <div class="form">
            <div>
                <!--img src="assets/img/example.jpg" alt="Descripción de la imagen"-->
                <!--img mat-card-image src="assets/img/licoreria.jpg" alt="Photo of a Shiba Inu"-->
            </div>
            <mat-form-field id="field1">
                <mat-label >Ingrese su usuario:</mat-label>
                <input matInput type="text" #txtusuario>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field id="field2">
                <mat-label>Ingrese su password:</mat-label>
                <input matInput type="password" #txtpassword>
            </mat-form-field>            
        </div>
        <br>
        <br>
    </mat-card-content>
    <mat-card-actions id="button">
        <button id="btn"  mat-flat-button  (click)="submit(txtusuario,txtpassword)">INGRESAR</button>
    </mat-card-actions>
</mat-card>
</div>






