<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="codCargo">
        <th mat-header-cell *matHeaderCellDef> CodCargo </th>
        <td mat-cell *matCellDef="let element"> {{element.codCargo}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombreCargo">
        <th mat-header-cell *matHeaderCellDef> NombreCargo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCargo}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>