<br><br>
<br>
<button id="btntop" mat-raised-button color="primary" (click)="irCrearCargo()">Nuevo Cargo</button>

<div class="table-container">
    <table mat-table [dataSource]="cargos" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="codcargo">
        <th mat-header-cell *matHeaderCellDef> ID cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.codcargo}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombrecargo">
        <th mat-header-cell *matHeaderCellDef> Nombre del Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombrecargo}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="irDetalleCargo(row.codcargo)"></tr>
    </table>
  </div>