<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="codcategoria">
        <th mat-header-cell *matHeaderCellDef> CodCategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.codcategoria}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombrecategoria">
        <th mat-header-cell *matHeaderCellDef> NombreCategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.nombrecategoria}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>